@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Study Application</h1>

    <h4>About this application</h4>

    <p>This is a Time management Application to assist with studying through the semester.
        This Application is targeted at Students, Young adults, adults and everyone who is studying</p>
</div>
