@page
@model PrivacyModel
@{
    ViewData["Title"] = "Graph";
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                Data Bar Graph
            </div>
            <div class="card-body" >
                <canvas class="my-4 h-25" id="bar"></canvas>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.0.1/chart.min.js" integrity="sha512-tQYZBKe34uzoeOjY9jr3MX7R/mo7n25vnqbnrkskGr4D6YOoPYSpyafUAzQVjV6xAozAqUFIEFsCO4z8mnVBXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">
   var chart = document.getElementById('bar').getContext('2d');
   var mychart = new Chart(chart, {
        type : 'bar',
        data : {
            labels: ['PROG6212', 'CLDV6111', 'SAND6211],
            Datasets: [{
                label : 'Bar Chart Example',
                    data: [35,65,42],
                    backgroundcolor : 'rgba(6,128,250)',
            }]
        },
        options : {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
   })
    </script>